@model Bio_Data.Models.Contactdetails

@{
    Layout = null;
}

<h1>Contact Details</h1>

<div>
    <p>Contact No: @Model.ContactNo</p>
    <p>Address: @Model.Address</p>
    <p>Path: @Model.Path</p>
</div>
