@model Bio_Data.Models.ViewModel.LoginSignUpViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="container">
    <div class="row mt-lg-5">
        <div class="col-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5">
            <div class="text-center">
                <h6 class="text-success text-center">@TempData["message"]</h6>
            </div>
            <form method="post" asp-action="Login" asp-controller="Home">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input type="text" asp-for="Email" class="form-control" placeholder="Enter Email" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger">@TempData["erroremail"]</span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password" autocomplete="off" />
                    <span class="text-danger">@TempData["errorpassword"]</span>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary mt-2 mb-2" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
