@model Bio_Data.Models.Personaldetails

@{
    ViewData["Title"] = "PersonalDetailsCreate";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Personal Details</h1>
                    <p class="text-center text-danger">@TempData["message"]</p>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Name">Name</label>
                                    <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Dateoftime">Date-Of-Birth</label>
                                    <input asp-for="Dateoftime" class="form-control" placeholder="Enter Date Of Birth" />
                                    <span asp-validation-for="Dateoftime" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="TimeOfBirth">Time-Of-Birth</label>
                                    <input asp-for="TimeOfBirth" class="form-control" placeholder="Enter Time-Of-Birth" />
                                    <span asp-validation-for="TimeOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="PlaceOfBirth">Place-Of-Birth</label>
                                    <input type="text" asp-for="PlaceOfBirth" class="form-control" placeholder="Enter Place-Of-Birth" />
                                    <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Rasi" class="control-label">Rashi</label>
                                    <select type="text" asp-for="Rasi" class="form-control" asp-items="ViewBag.Rasi">
                                    <option value="">-- Select Rashi --</option>
                                    <option value="Mesh Rashi">Mesh Rashi</option>
                                    <option value="Vrishabh Rashi">Vrishabh Rashi</option>
                                    <option value="Mithun Rashi">Mithun Rashi</option>
                                        </select>
                                    <span asp-validation-for="Rasi" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Nakshtra" class="control-label">Nakshtra</label>
                                    <input type="text" asp-for="Nakshtra" class="form-control" placeholder="Enter Nakshtra" />
                                    <span asp-validation-for="Nakshtra" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Complexion">Complexion</label>
                                    <input type="text" asp-for="Complexion" class="form-control" placeholder="Enter Complexion" />
                                    <span asp-validation-for="Complexion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Height">Height</label>
                                    <input type="text" asp-for="Height" class="form-control" placeholder="Enter Height" />
                                    <span asp-validation-for="Height" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Education">Education</label>
                                    <input type="text" asp-for="Education" class="form-control" placeholder="Enter Education" />
                                    <span asp-validation-for="Education" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Cast">Cast</label>
                                    <input type="text" asp-for="Cast" class="form-control" placeholder="Enter Cast" />
                                    <span asp-validation-for="Cast" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Job">Job</label>
                            <input type="text" asp-for="Job" class="form-control" placeholder="Enter Education" />
                            <span asp-validation-for="Job" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Next" class="btn btn-lg btn-outline-success float-right" />|
                            <a asp-action="Index" asp-controller="Home">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

