
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #borderimg2 {
            border: 30px solid transparent;
            border-image-source: url(https://www.freeiconspng.com/uploads/certificate-border-png-14.png);
            border-image-repeat: repeat;
            border-image-slice: 30;
            text-align: center
        }
    </style>
</head>
<body>
    <p id="borderimg2">Vivek Jariwala<br />
     KamalBhai Jariwala<br />
     Dinaben Jariwala
    </p>
</body>
</html>
